.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  /* margin-top: 40px; */
  /* justify-content: center; */
}

.img {
  height: auto;
  width: 220px;
  margin: 20px 20px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: rgba(110, 110, 110, 0.842);
  min-width: 288px;
  position: sticky;
}

.header h1 {
  color: rgb(255, 237, 207);
  font-size: 1.4rem;
  margin-left: 0px;
  font-family: 'Candal', sans-serif;
  /* position: absolute;
  left: 0px; */
}

.title {
  display: flex;
}

.logo {
  position: absolute;
  left: 169px;
  top: 10px
}

nav {
  display: flex;
}

.nav { 
  /* background-color: white; */
  border: none;
  /* border-bottom: 1px solid goldenrod; */
  color: #FF9900;
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  
}


.nav:after {
  content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
-webkit-transition: width .5s ease, background-color .5s ease;
}

.nav:hover:after {
  width: 100%;
  background:#FF9900
}

a {
  text-decoration: none;
  color: black;
  
}

a:hover {
  cursor: pointer;
}

.addToCart {
  border-radius: 6px;
  background-color: #FF9900;
  height: 30px;
  width: 150px;
  color: rgb(255, 237, 207);
  font-size: 1.2rem;
}

.delete {
  position: absolute;
  right: 60px;
  border: none;
  background-color: white;
  font-size: 1.7rem;
}

.dashProduct {
  margin: 30px;
}

.checkOut {
  position: relative;
  margin-top: 30px;
  bottom: 20px;
  width: 300px;
  height: 40px;
  color: rgb(255, 237, 207);
  background-color: #FF9900;
  border-radius: 6px;
  font-size: 1.4rem;
}

.logo {
  height: 60px;
  width: auto;
}

.logo2 {
  width: 170px;
  height: auto;
  position: absolute;
  left: 20px;
  top: 29px;
}


